# Current workflow is to create a Godot project inside the root for use whilst developing.
# As a result we want to specifically decide what to include.

# Ignore all files
/*

# Exceptions
!/addons
!/LICENCE
!/README.md